* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #FFFDF0;
    height: 100vh;
    overflow-y: auto;
}
header{
    width: 100%;
    height: 82px;
    position: sticky;
    top: 0;
    background-color: #FFFDF0;
    box-shadow: 1px 1px 5px 0px #F7E012;
    border-bottom: #F7E012 solid 3px;
}
.logo {
    padding: .5rem;
    display: inline-block;
    margin-left: 10px;
    object-fit: contain;

}
main {
    height: 100%    ;
    overflow-y: auto;
    margin-top: 82px;
    padding: .5rem;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/*
    navigation menu
*/
.nav{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #FFFDF0;
    overflow: hidden;

}
.menu a{
    display: block;
    padding: 30px;
    color: #3B3502;
}
.menu a:hover{
    background-color: #6D6204;
}

.nav{
    max-height: 0;
    transition: max-height .5s ease-out;
}

/* Menu Icon */
.hamb{
    cursor: pointer;
    float: right;
    padding: 40px 20px;
}/* Style label tag */

.hamb-line {
    background: #9E8F05;
    display: block;
    height: 2px;
    position: relative;
    width: 24px;

} /* Style span tag */

.hamb-line::before,
.hamb-line::after{
    background: #9E8F05;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
.hamb-line::before{
    top: 5px;
}
.hamb-line::after{
    top: -5px;
}

.side-menu {
    display: none;
} /* Hide checkbox */

/* Toggle menu icon */
.side-menu:checked ~ nav{
    max-height: 100%;
}
.side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
}
.side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top:0;
}
.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top:0;
}